{% extends "admin/change_list.html" %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .status-normal {
            background-color: green;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-late {
            background-color: orange;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-early {
            background-color: blue;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-absent {
            background-color: red;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-gray {
            background-color: gray;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-brown {
            background-color: brown;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
        .status-purple {
            background-color: purple;
            color: white;
            padding: 3px 8px;
            border-radius: 4px;
        }
    </style>
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_full_result_count %}
        {% admin_actions %}
    {% endif %}
    {% result_list cl %}
{% endblock %}